<h1 class="heading">Random Events</h1>

{{#vertical-timeline data-test-timeline=true as |timeline|}}

  {{#each model as |event|}}

    {{#timeline.block data-test-timeline-block=true as |block|}}
      {{block.image class="green-timeline-pill"}}

      {{#block.content as |content|}}
        <h2>{{event.title}}</h2>
        <p>{{event.description}}</p>
        <a href="#0" class="cd-read-more">Read more</a>
        {{#content.date}}{{event.date}}{{/content.date}}
      {{/block.content}}
    {{/timeline.block}}

  {{/each}}

{{/vertical-timeline}}
